<body>
    {% extends "base.html" %}
        {% block contenido %}
            <div style="text-align: center;">
                {{mensaje}}
            <div class="col-md-3">
                <p>Los mejores en la trivia!</p>
            </div>
                <table border="1">
                    {% for user in ranking %}
                        <tr><td>
                        {{user.posicion}}  {{user.nombre}}  {{user.tiempo}}
                        </td></tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    </body>